body {
    background-color: #cccccc;
    margin: 20px;
    font-family: Helvetica, Arial, sans-serif
}

.header-label {
    font-size: 40px;
}

.setlist-title {
    color: #21618C;
}

.date {
    font-weight: bold;
}

.setlist {
    padding: 10px; 
    margin-bottom: 30px;
    border: 1px solid #999999;
    background-color: #ffffff;
}

.set {
    margin-top: 10px;
}

.setLabel {
    font-weight: bold;
}

.comments {
    font-style: italic;
    color: #666666;
}

.annotations {
    margin-top:10px;
    font-style: italic;
    color: #666666;
}