body {
    background-color: #cccccc;
    margin: 20px;
    font-family: Helvetica, Arial, sans-serif
}

.header-label {
    font-size: 40px;
}

.search {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;

    img {
        max-width: none;
    }
}

.working {
    margin-bottom: 100px;
}

.setlist-title {
    font-size: 120%;
    color: #21618C;
}

.date {
    font-weight: bold;
}

.setlist {
    padding: 10px; 
    margin-bottom: 30px;
    border: 1px solid #999999;
    background-color: #ffffff;
}

.set {
    margin-top: 10px;
}

.setLabel {
    font-weight: bold;
}

.comments {
    font-style: italic;
    color: #666666;
}

.annotations {
    margin-top:10px;
    font-style: italic;
    color: #666666;
}

/*
* LOADING ANIMATION
*/
.loaded {
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}